h1 {
    color: deeppink ;
    padding-left: 35%;
}
div {
    position: relative;
}
.top {
    position:sticky;
    background-color:rgb(100, 66, 126) ;
}
.right {
    position:absolute;
    background-color:rgb(214, 251, 8) ;
}
.centre1 {
    
    position: absolute;
    top:  40em;
    left: 50%;
    
}